.customCard{
    height: 100%;
    max-width: 350px;
    box-shadow: 0px 0px 48px 0px rgba(4,6,4,0.08) !important;
    border-radius: 5px;
    overflow: hidden;
    outline-width: 0px !important;
}

.customCard .customCard_image{
    height: 110px;
    margin-bottom: 20px;
}

.customCard .customCard_title{
    font-weight: 500px;
}