@import './Styles/navbar';
@import './Styles/layout';
@import './Styles/typography';
@import './Styles/title';
@import './Styles/about';
@import './Styles/skill';
@import './Styles/contact';
@import './Styles/education';


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto Condesed" sans-serif;
  color: #a4acc4;
  font-size: 1.2rem;
}

span{
  color: #037fff;
}