table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 10px;
}

.jumbotron{
  padding: 1%;
}
.Block1{
  background-color:rgb(48, 126, 190);
  border-style: solid;
}

.Block{
  border-style: solid;
  padding: 25px;
  background-color: rgb(228, 226, 224);
}

.row{
  overflow: hidden; 
}

[class*="col-"]{
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}

img {
  border-radius: 50%;
  border: 1px solid #ddd;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;;
  max-width: 100%;
  height: auto;
  display: block;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:black;
  color: white;
  text-align: center;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-instagram {
  background: #cf1e94;
  color: white;
}
.fa{
  margin: 5px 2px;
  width: 50px;
  height: auto;
  font-size: 40px;
}

.fa:hover {
  opacity: 0.7;
}