table,th,td {
    align-items: center;
    margin: 10%;
    padding: 10px;
    border: "2";
    align-content: center;
    border: 1px solid whitesmoke;
    border-collapse: collapse;
    
    
}
.edu {
    margin: 1%;
    padding: 4%;
    text-align: center;
}