.profile{
    background: color #f0f0f0;
    border-radius: 6px ;
    width: 100%;
    display: inline-block;
}

.profile_name{
    line-height: 18px;
    padding: 20px;
}

.profile_name .name{
    text-transform: uppercase;
    font-size: 17px;
    font-weight: bold;
}

.profile_name .title{
    font-size: 13px;
    color: #777;
}

.profile_image{
    margin-top: -10px;
   
   clip-path: polygon(0 8%, 100% 0%, 100% 94%, 0% 100%);
}

.profile_image img{
    width: 100%;
}

.profile_information{
    top: 0;
    left: 0;
    margin: -40px 10px 30px;
}

.profile_information .timeline .timeline_content{
    margin-top: 2px;
    margin-bottom: 12px;
}

.timelineItem_text{
    font-size: 13.5px !important;
    color: #787878;
    font-weight: 400 !important;
    text-decoration : none;
}

.timelineItem_text > span{
    font-size: 13.5px;
    color: black;
    font-weight: 400;
}

.timelineItem_text > a {
    font-size: 13.5px !important;
    color: #787878;
    font-weight: 400 !important;
    text-decoration : none;
}